@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* :root{
  background-color: rgb(12, 12, 81);
} */
.hidden{
  display: none;
}
.navBar{
  display: flex;
  width: 98.7vw;
  position:sticky;
  justify-content: space-between;
  padding: 0 0.5rem 0 0.5rem;
  background-color: rgb(12, 12, 81);
  color: white;
  height: 3rem;
}

.navBar .logo {
  position: relative;
  left:2rem;
  top: 0.101m;
  rotate: -3deg;

}

.navBar .logo h2{
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  text-shadow: 0 0 3px rgb(12, 12, 81);
}
.navBar ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.navBar ul li{
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
 font-size: 0.8rem;
 letter-spacing: 1px;
 color: white;
}

.navBar ul li #listItem{
  color: white;
  text-decoration: none;
}

/* Home Page */

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .waterMark{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
 main .waterMark p{
  font-size: 2rem;
  font-weight:900;
  font-family:  "Roboto"  ;
  letter-spacing: 0.2rem;
  color: rgba(124, 124, 124, 0.404);
 }

main .addNotes{
    height: 3rem;
  width: 3rem;
  padding: 10px;
  background-color: rgb(12, 12, 81);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
    position: absolute;
  right: 5rem;
  bottom: 3rem;
  cursor: pointer;
}
main .addNotes .addIcon{

  
  font-size: 2rem;
  color: white;

  

}



/* Notes */

form{
  height: 40vh;
  width: 30vw;
  background-color: rgb(12, 12, 81);
  border-radius: 1rem;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  position: fixed;
  left: 34vw;
  animation: form 0.2s ease-in-out forwards;
}

#submitBtn{

  width: 3rem;
  height: 1.5rem;
  border-radius: 2px;
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  position:relative;
  left: 8.5rem;
  bottom: -1rem;
  

}

#submitBtn:hover{
  background-color: greenyellow;
  color: darkblue;
}

form .formComponent{
  display: flex;
  justify-content:space-between;
  gap: 3rem;

}

form .formComponent input{
  width: 20vw;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: none;
}


form .formComponent #descArea{
  width: 20vw;
  height: 15vh;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: none;

}

@keyframes form {
  from {
    transform: scale(0.2);
    
  }
  to{
    transform: scale(1);
    
  }
}